{% extends 'index.html' %}


{% block title %}
用户列表
{% endblock %}


{% block content %}
{% if request.COOKIES.token != None %}
    <p>登录者：{{ request.session.login_user.user_name }}</p>
    <table  class="table table-responsive" style="text-align: center;vertical-align: middle">
        <thead class="text-capitalize">
            <td>账户</td><td>电话</td><td>年龄</td>
        </thead>
        <tbody>
    {% for user  in  pager.object_list %}
            <td>{{ user.name }}</td>
            <td>{{ user.number }}</td>
            <td>{{ user.age }}</td>
         </tr>
    {% endfor %}
    </tbody>
    </table>
        <div class="align-middle" align="center">
            <a href="{% if pager.has_previous %}?page={{ pager.previous_page_number }}     {% else %} #      {% endif %}">&lt;</a>
            {% for  p in paginator.page_range %}
                <a href="?page={{ p }}" class="{% if pager.number == p %} link-danger {% endif %}">{{ p }}</a>

            {% endfor %}
            <a href="{% if pager.has_next %}?page={{ pager.next_page_number }}     {% else %} #      {% endif %}">&gt;</a>


    </div>
{% else %}
    <h3>用户未登录,请进入<a href="{% url 'main:login' %}">登录页</a></h3>
{% endif %}

{% endblock %}


